@icon("res://icons/__ClassName__.svg")
extends Resource
class_name __ClassName__

signal value_changed(new_value: __Type__)

@export var initial_value: __Type__ = __DefaultValue__:
	set(new_val):
		initial_value = new_val
		_value = new_val
		Debug.log("__ClassName__: " + resource_path.get_basename() + " loaded initial_value: " + str(initial_value))

var _value: __Type__ = __DefaultValue__

var value: __Type__:
	get:
		return _value
	set(new_val):
		if _value != new_val:
			_value = new_val
			value_changed.emit(_value)
			Debug.log("__ClassName__: " + resource_path.get_basename() + " runtime value changed to: " + str(_value))
