@icon("res://icons/__ClassName__.svg")
extends BaseVariable
class_name __ClassName__

signal value_changed(new_value: __Type__)

@export var initial_value: __Type__ = __DefaultValue__:
	set(new_val):
		initial_value = new_val
		_apply_initial_value(new_val)

func set_value(new_val: __Type__, caller: Object = null) -> void:
	_set_value_variant(new_val, caller)

var value: __Type__:
	get:
		return _get_value_variant()
	set(new_val):
		_set_value_variant(new_val, null)
